/**
 * @file
 * Styling on the StyleGuide page.
 */

.icon-list li {
  margin: 2px;
  position: relative;
  padding: 4px 0;
  cursor: pointer;
  float: left;
  list-style: none;
}

.icon-list span.ui-icon {
  float: left;
  margin: 0 4px;
}

.icon-list .ui-state-unknown {
  border: 1px solid transparent;
}

.styleguide-jquery-ui-dialog-opener {
  padding: .4em 1em .4em 22px;
  text-decoration: none;
  position: relative;
}

.styleguide-jquery-ui-dialog-opener span.ui-icon {
  margin: -8px 5px 0 0;
  position: absolute;
  left: .2em;
  top: 50%;
  zoom: 1;
}

.styleguide-jquery-ui-progressbar-wrapper {
  margin: 0 1em;
}

.styleguide-jquery-ui-progressbar {
  margin-bottom: 1em;
}

.styleguide-jquery-ui-slider {
  margin-bottom: 1em;
}

.styleguide-jquery-ui-slider-container-v {
  height: 30em;
}

.styleguide-jquery-ui-slider-container-h,
.styleguide-jquery-ui-slider-container-v {
  padding: 1em;
}

.styleguide-jquery-ui-slider-container-v .styleguide-jquery-ui-slider {
  height: 100%;
  float: left;
  margin-right: 2em;
}
