/**
 * @file
 * The frontend theme should add these definitions to its style CSS.
 */

.ui-dialog.no-title .ui-dialog-titlebar,
.ui-dialog.no-close .ui-dialog-titlebar .ui-dialog-titlebar-close {
  display: none;
}

.ui-buttonset label.option,
.ui-buttonset .form-item.form-type-radio,
.ui-buttonset .form-item.form-type-checkbox {
  display: inline-block;
}

.ui-progressbar {
  position: relative;
}

.ui-progressbar .progress-label {
  position: absolute;
  left: 50%;
  top: 0.25em;
  font-weight: bold;
}

.ui-menu {
  width: 10em;
}

.ui-menu .ui-menu {
  display: none;
  position: absolute;
  left: 10em;
  margin-top: -2em;
  z-index: 5;
}

.ui-menu li:hover .ui-menu {
  display: block;
}

.ui-menu .ui-icon {
  display: inline-block;
  margin-right: 0.3em;
}

.ui-menu .ui-menu-icon {
  float: right;
  margin-top: 0.25em;
}
